.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #592500;
    padding: 60px;
}

.conteudo-formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 45px;
    background: #f8e18d;
    width: 500px;
    box-shadow: #fff0ba33 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.formulario h2 {
    font-size: 2rem;
    color: #592500;
    font-family: "Kaisei Tokumin", serif;
    font-weight: 800;
    font-style: normal;
}

.formulario form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formulario form label {
    font-size: 1rem;
    color: #592500;
    font-family: "Kaisei Tokumin", serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 4px;
}

.formulario form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 0.8rem;
    transition: all 0.5s;
}

.formulario form input:focus {
border-radius: 16px;
}

.formulario form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 0.8rem;
    margin-bottom: 30px;
    transition: all 0.5s;
}

.formulario form textarea:focus {
    border-radius: 16px;
}

.formulario form button {
    padding: 15px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #592500;
    font-size: 1rem;
    color: #592500;
    font-family: "Markazi Text", serif;

    font-weight: 600;
    font-style: normal;
    transition: all 0.6s;
    margin-bottom: 20px;
}

.formulario form button:hover {
background: #592500;
color: #FFF0BA;
border-radius: 16px;
}

/* PAGINA OBRIGADO */ 
.conteudo-obrigado {
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
background: #592500;
flex-direction: column;
}

.conteudo-obrigado h1 {
    font-size: 2rem;
    color: #FFF0BA;
    font-family: "Markazi Text", serif;

    font-weight: 600;
    font-style: normal;
    margin-bottom: 20px;
}

.conteudo-obrigado p {
    font-size: 1.2rem;
    color: #FFF0BA;
    font-family: "Markazi Text", serif;

    font-weight: 600;
    font-style: normal;
    margin-bottom: 30px;
}

.conteudo-obrigado a {
    padding: 15px 55px;
    text-decoration: none;
    background: #FFF0BA;
    font-size: 1.2rem;
    color: #592500;
    font-family: "Markazi Text", serif;

    font-weight: 600;
    font-style: normal;
    transition: all 0.5s;
}

.conteudo-obrigado a:hover {
    border-radius: 16px;
}



