.identificar-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FFF0BA;
}

.identificar-titulo {
  color: #592500;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 2rem;
  margin: 10px;
}

.lista-identificar-1 {
  background-color: #f8e18d;
  padding: 20px;
  border-radius: 20px;
  width: 600px;
}

.lista-identificar-1 li {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4rem;
  color: #592500;
}

.lista-identificar-1 li span {
  font-size: 1.0rem;
}

.identificar-titulo2 {
  color: #f8e18d;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 2rem;
  margin: 10px;
  text-shadow: 2px 2px 1px #592500;
}

.lista-identificar-2 {
  background-color: #592500;
  padding: 20px;
  border-radius: 20px;
  width: 600px;
  margin-bottom: 30px;
}

.lista-identificar-2 li {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4rem;
  color: #f8e18d;
}

.lista-identificar-2 li span {
  font-size: 1.0rem;
}

.ajudar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-titulo-ajuda {
  background-color: #f8e18d;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.background-titulo-ajuda h1 {
display: flex;
justify-content: center;
color: #592500;
font-family: "Markazi Text", serif;
font-optical-sizing: auto;
font-weight: 800;
font-style: normal;
font-size: 2rem;
}

.background-texto-ajuda {
  background-color: #592500;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.background-texto-ajuda p {
  text-align: center;
color: #f8e18d;
font-family: "Markazi Text", serif;
font-optical-sizing: auto;
font-weight: 800;
font-style: normal;
font-size: 1.4rem;
max-width: 600px;
}
