.container-marque {
  background-color: #f8e18d;
}

.container-marque h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #592500;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 2.2rem;
  padding: 20px;
  text-shadow:1px 2px 4px #59250085;
}

.conteudo-marque {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 60px 60px 60px;
}

.textos-marque {
  max-width: 600px;
  margin-right: 60px;
}

.textos-marque h2 {
  color: #592500;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}

.textos-marque p {
  color: #592500;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1;
  padding-bottom: 30px;
  max-width: 460px;
}

.imagem-marque img {
  width: 400px;
  height: auto;
}

.img-agende {
  width: auto;
  height: 300px;
  margin-bottom: 10px;
}

@media (max-width: 1040px) {
  .conteudo-marque {
    flex-direction: column;
  }

  .textos-marque h2 {
    text-align: center;
  }

  .textos-marque p {
text-align: center;
  }

 .conteudo-formulario {
  margin-top: 30px;
 }

.botao-marque {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textos-marque {
  max-width: 600px;
  margin-right: 0px;
}
}

@media (max-width: 500px) {
  .container-marque h1 {
    font-size: 1.4rem;
  }
  .textos-marque h2 {
    font-size: 1.2rem;
  }
  .textos-marque p {
    font-size: 1em;
  }
  .imagem-marque img {
    width: 260px;
    height: auto;
    margin-top: 30px;
  }
  .conteudo-marque {
    padding: 0px 30px 30px 30px;
  }
  .container-img-agende{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .img-agende {
    width: 300px;
   height: auto;
  }
}